body{

}
#title{
	background-color: #ff4c68;
}
#icon{
    font-family: 'Ubuntu', sans-serif;
}
h3{
	font-family: 'Lilita One', cursive;
}
p{
	color: #8f8f8f;
}
.container-fluid{
	padding: 1% 10%;
}
.heading{
	color: #fff;
	font-family: 'Lilita One', cursive;
	font-size: 3.5rem;
	line-height: 1.5; 
}
/*Navgatoin bar*/
.navbar{
	padding: 0 0 4.5rem;
}
.nav-item{
	padding: 0 18px;
}
.nav-link{
	font-size: 1.2rem;
}
h2{
	font-family: 'Lilita One', cursive;
	font-size: 3.5rem;
	line-height: 1.5; 
}
.navbar-brand{
	 font-family: 'Ubuntu';
	 font-size: 3.5rem;
	 font-weight: bold;
}
/*Download Buttons*/
.download-button{
	margin: 5% 3% 5% 0;
}
/*Image*/
.title-image{
	width: 299px;
	transform: rotate(25deg);
}
/*Features*/
#features{
	padding: 7% 15%;
}
.feature-box{
	text-align: center;
	padding: 5%;
}
/*icon*/
.iconi{
	color: #ef8172;
	margin-bottom: 1rem;
}
.iconi:hover{
	color: #ff4c68;
}
#testimonials{
	
	text-align: center;
	background-color:  #ef8172;
	color: #fff;
}
.im-test{
	width: 10%;
	border-radius: 100%;
	margin: 20px;

}
.carousel-item{
	padding: 7% 15%;
}
#press{
	background-color: #ef8172;
	text-align: center;
	padding-bottom: 3%;
}
.press-logo{
	margin: 20px 20px 50px;
	width: 15%
}

#pricing{
	padding: 100px;
	text-align: center;
}
.pricing-column {
	padding: 3% 2%;
}